<style>
.circlee{
	content: "\f111";
}
.ion-bag:before {
    content: "\f110";
}
.styleicon{
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
}
.faic {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    
}
.fa-arrow-circle:{
    content: "\f0a9";
}
.fa-sear {
    content: "\f002";
}
</style>